<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://allfont.net/allfont.css?fonts=exo-bold" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
        
    </head>

    <body>
        <div class="ajaxbg">
            <div class="ajaxinner">
                <img src="/images/ajax-loader.gif" alt=""/>
            </div>
        </div>
        <nav class="navbar navbar-inverse myNav aa2">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    
                    <img src="/images/logo.png" class="logo"/> <p class="brand" href="/">FIE<span>EBS</span></p>
                   <button onclick="window.location.href='/'" class="home">الصفحة الرئيسية <ion-icon name="home"></ion-icon></button>
                <button onclick="window.location.href='/cart/checkout'" class="shopping">سلة التسوق<ion-icon name="cart" class="icon"></ion-icon></button>
                    <div class="input-icons search aa1"> 
                      <i  class="fa fa-search"></i> 
                      <input class="input-field" type="text" > 
                     </div> 
                    
                    
                </div>
                
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <% pages.forEach(function(page){ %>
                        <% if (page.slug == "home") { %>
                        <li><a href="/"><%= page.title %></a></li>
                        <% } else {%>
                        <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
                        <% } %>
                        <% }); %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if (user) { %>
                        <li><button class="logout" onclick="window.location.href='/users/logout'"><%= user.username %> ( تسجيل خروج )</button></li>
                        <% } else {%>
                        <li><button class="reg" onclick="window.location.href='/users/register'"><span>انشاء حساب <ion-icon name="person-add"></ion-icon><span></button></li>
                        <li><button class="login" onclick="window.location.href='/users/login'">تسجيل الدخول <ion-icon name="person-circle"></ion-icon></button></li>
                        <% } %>
                        <% if (user && user.admin == 1) { %>
                        <li><button onclick="window.location.href='/admin/categories'" class="admin">مركز التجكم</button></li>
                        <% }%>
                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <%- messages('messages', locals) %>
            
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>
   
<nav class="mo">
<div class="container">

     <ul>
        <li class="pclass"><button class="astyle" onclick="window.location.href='/products'">
        <ion-icon name="layers" style="font-size: 15px;"></ion-icon> احدث المنتجات</button></li>
        <% categories.forEach(function(c){ %>
            <li class="pclass"><button class="astyle" onclick="window.location.href='/products/<%= c.slug %>'"><%= c.title %></button></li>
        <% }); %>
     </ul>
  </div>
  </nav>
                <div class="col-xs-12 col-md-8 abr">

<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">عربة التسوق</h1>
<br><br>

<table class="table table-striped alignmiddle responsive">
    
    <tr>
        <th>صورة المنتج</th>
        <th>اسم المنتج</th>
        <th>سعر المنتج</th>
        <th>العدد</th>
        <th></th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(product){ %>
    <% var sub = parseFloat(product.qty * product.price).toFixed(0) %>
    <% total += +sub %>
    <tr class="order">
        <td><img class="cpi" src="<%= product.image %>" alt=""></td>
        <td class="name"><%= product.title %></td>
        <td class="price" style="font-size: small;"><%= product.price %> <span class="iqd" style="font-size: 8px">IQD<span></td>
        <td class="qty"><%= product.qty %></td>
        <td>
            <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=clear">حذف</a>&nbsp;
        </td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="left" style="text-align: center"><b>المبلغ الكلي: </b> $<%= parseFloat(total).toFixed(0) %></td>
    </tr>
    <tr>
        <td colspan="5" align="left">
            <a class="clearcart delete" href="/cart/clear" style="">حذف المنتجات من عربة التسوق<ion-icon name="trash" style="color: black"></ion-icon></a>
        
        <br>
        <br>
         
            <form onsubmit="SendMessageHandler(this);">

			<input pattern="[0-9.]+" 
            type="text" name="message" placeholder="قم بادخال رقم هاتفك"
            maxlength="11" minlength="11" oninvalid="this.setCustomValidity('يجب عليك ادخال 11 رقم فقط')" 
             onchange="this.setCustomValidity('')" type="text"  class="form-control" style="direction: rtl; padding-left: -30px">
<br>
            <input type="text" name="location" placeholder="قم بادخال عنوان السكن" class="form-control" style="direction: rtl;">
<br>
            <input type="text" name="code" placeholder="قم بادخال كود الخصم (اختياري)" maxlength="20" class="form-control" style="direction: rtl;">
            <br>
              
            <br>
			<button type="submit" class="btn btn-success" name="Submit" id="but" value="Puxar Alavanca">الشراء الان</button>
		</form>

		<script type="text/javascript">
			function SendMessageHandler(form) {
				event.preventDefault();

				let message = form.querySelectorAll('input')[0].value;
                let location = form.querySelectorAll('input')[1].value;
                let code = form.querySelectorAll('input')[2].value;
                

                if(message == ""){

                    alert("قم بادخال رقمك");

                } else if(location == ""){

                    alert("قم بادخال عنوان السكن")

                } else {

                    for(var i = 0; i <= 100; i++){
                        var name = document.querySelectorAll("body > div.container > div > table > tbody > tr > td.name")[i].innerText;
                        var qit = document.querySelectorAll("body > div.container > div > table > tbody > tr > td.qty")[i].innerText;
                        sendMessage(name);
                        sendMessage(qit);
                        var a = i;
                        if(a == 0){
                            sendMessage(message);
                            sendMessage(code);
                            sendMessage(location);
                    alert("تم ارسال طلبك بتجاح");
                        }
                    }
                    

                }
                
			}

			async function sendMessage(msg) {
				let BotToken = '1377829991:AAGeGK3TN6PXNNmIFPKjOq1QT0k38n7m83A';
				let SendTo = '562278615';
				let message = msg;

				let resp = await fetch('https://api.telegram.org/bot' + BotToken + '/sendMessage?chat_id=' + SendTo + '&text=' + message).then(res => res.json());
    
    			if (resp.ok) console.log('the message was sent');
			}


		</script>
        
        </td>
    </tr>
    
</table>
<% } else {%>
<h3 class="text-center">سلة التسوق فارغة</h3>
<% } %>

<% include _layouts/footer %>